/*
|---------------------------------------------------------------
| CLASS GENERATOR
|---------------------------------------------------------------
| Mixins calls to generate classes
|
|
*/

/*------- DISPLAY -------*/
@include generate-screen-displays($displays, $screen-sizes-down, $screen-sizes-up);

/*------- FONT-SIZES -------*/
// @include generate-font-sizes($font-sizes);

/*------- TITLES -------*/
// @include generate-titles($title-sizes);

/*------- FONT-FAMILY -------*/
@include generate-class-from-map($font-families, 'ff', font-family);

/*------- FONT-WEIGHTS -------*/
@include generate-class-from-map($font-weights, 'fw', font-weight);

/*------- LINE-HEIGHTS -------*/
@include generate-class-from-map($line-heights, 'lh', line-height);

/*------- TEXT-ALIGN -------*/
@include generate-class-from-map($align-types, 'ta', text-align);
@include generate-text-alignments($align-types, $screen-sizes-down, $screen-sizes-up);

/*------- LETTER SPACING -------*/
@include generate-class-from-map($letter-spacings, 'ls', letter-spacing);

/*------- DISPLAYS -------*/
@include generate-class-from-map($displays, 'd', display);
@include generate-screen-displays($displays, $screen-sizes-down, $screen-sizes-up);


/*------- MARGINS & PADDINGS -------*/
@include generate-spaces($spaces, $space-properties);
@include generate-spaces-child($spaces, $space-properties);
@include generate-screen-spaces('down', $screen-sizes-down, $spaces, $space-properties);
@include generate-screen-spaces('up', $screen-sizes-up, $spaces, $space-properties);

//colors
/////////////////////////////////////////////////////////
@each $color in $colors {
    .#{$color} {
        color: var(--#{$color});
    }

    .bcg#{$color} {
        background-color: var(--#{$color});
    }
}

//titles
/////////////////////////////////////////////////////////
@each $title in $titles {
    .#{$title} {
        font-size: var(--#{$title});
    }
}

//Sizes
/////////////////////////////////////////////////////////
@each $text in $texts {
    .#{$text} {
        font-size: var(--#{$text});
    }
}

//Font families
/////////////////////////////////////////////////////////
@each $font in $fonts {
    .#{$font} {
        font-family: var(--#{$font});
    }
}