/*
|---------------------------------------------------------------
| MAPS
|---------------------------------------------------------------
| Sass maps used in classes generation
|
|
*/

/*
|
| Font Sizes Map
|---------------------
|
// */
// $font-sizes: (
//   'xs': (
//      'default': $font-size-xs,
//      'screens': (
//        'lg': $screen-lg-font-size-xs,
//        'md': $screen-md-font-size-xs,
//        'sm': $screen-sm-font-size-xs,
//        'xs': $screen-xs-font-size-xs
//      )
//   ),
//   'sm': (
//     'default': $font-size-sm,
//     'screens': (
//        'lg': $screen-lg-font-size-sm,
//        'md': $screen-md-font-size-sm,
//        'sm': $screen-sm-font-size-sm,
//        'xs': $screen-xs-font-size-sm
//     )
//   ),
//   'md': (
//     'default': $font-size-md,
//     'screens': (
//        'lg': $screen-lg-font-size-md,
//        'md': $screen-md-font-size-md,
//        'sm': $screen-sm-font-size-md,
//        'xs': $screen-xs-font-size-md
//     )
//   ),
//   'lg': (
//     'default': $font-size-lg,
//     'screens': (
//        'lg': $screen-lg-font-size-lg,
//        'md': $screen-md-font-size-lg,
//        'sm': $screen-sm-font-size-lg,
//        'xs': $screen-xs-font-size-lg
//     )
//   ),
//   'xl': (
//     'default': $font-size-xl,
//     'screens': (
//        'lg': $screen-lg-font-size-xl,
//        'md': $screen-md-font-size-xl,
//        'sm': $screen-sm-font-size-xl,
//        'xs': $screen-xs-font-size-xl
//     )
//   ),
//   'xxl': (
//     'default': $font-size-xxl,
//     'screens': (
//        'lg': $screen-lg-font-size-xxl,
//        'md': $screen-md-font-size-xxl,
//        'sm': $screen-sm-font-size-xxl,
//        'xs': $screen-xs-font-size-xxl
//     )
//   )
// );


/*
|
| Title Sizes Map
|---------------------
|
// */
// $title-sizes: (
//   'xs': (
//     'default': $font-size-title-xs,
//     'screens': (
//       'lg': $screen-lg-font-size-title-xs,
//       'md': $screen-md-font-size-title-xs,
//       'sm': $screen-sm-font-size-title-xs,
//       'xs': $screen-xs-font-size-title-xs
//     )
//   ),
//   'sm': (
//     'default': $font-size-title-sm,
//     'screens': (
//       'lg': $screen-lg-font-size-title-sm,
//       'md': $screen-md-font-size-title-sm,
//       'sm': $screen-sm-font-size-title-sm,
//       'xs': $screen-xs-font-size-title-sm
//     )
//   ),
//   'md': (
//     'default': $font-size-title-md,
//     'screens': (
//       'lg': $screen-lg-font-size-title-md,
//       'md': $screen-md-font-size-title-md,
//       'sm': $screen-sm-font-size-title-md,
//       'xs': $screen-xs-font-size-title-md
//     )
//   ),
//   'lg': (
//     'default': $font-size-title-lg,
//     'screens': (
//       'lg': $screen-lg-font-size-title-lg,
//       'md': $screen-md-font-size-title-lg,
//       'sm': $screen-sm-font-size-title-lg,
//       'xs': $screen-xs-font-size-title-lg
//     )
//   ),
//   'xl': (
//     'default': $font-size-title-xl,
//     'screens': (
//       'lg': $screen-lg-font-size-title-xl,
//       'md': $screen-md-font-size-title-xl,
//       'sm': $screen-sm-font-size-title-xl,
//       'xs': $screen-xs-font-size-title-xl
//     )
//   ),
//   'xxl': (
//     'default': $font-size-title-xxl,
//     'screens': (
//       'lg': $screen-lg-font-size-title-xxl,
//       'md': $screen-md-font-size-title-xxl,
//       'sm': $screen-sm-font-size-title-xxl,
//       'xs': $screen-xs-font-size-title-xxl
//     )
//   )
// );

/*
|
| Margins & Paddings Maps
|--------------------------
|
*/
$spaces: (
  '0' : 0,
  'xs': $xs,
  'sm': $sm,
  'md': $md,
  'lg': $lg,
  'xl': $xl,
  'xxl': $xxl
);

$space-properties: (
  'm' : 'margin',
  'mt': 'margin-top',
  'mb': 'margin-bottom',
  'my': 'margin-top' 'margin-bottom',
  'ml': 'margin-left',
  'mr': 'margin-right',
  'mx': 'margin-left' 'margin-right',
  'p' : 'padding',
  'pt': 'padding-top',
  'pb': 'padding-bottom',
  'py': 'padding-top' 'padding-bottom',
  'pl': 'padding-left',
  'pr': 'padding-right',
  'px': 'padding-left' 'padding-right'
);

$screen-sizes-up: (
  'xs-up': 'xs',
  'sm-up': 'sm',
  'md-up': 'md',
  'lg-up': 'lg',
  'xl-up': 'xl'
);

$screen-sizes-down: (
  'lg-down': 'lg',
  'md-down': 'md',
  'sm-down': 'sm',
  'xs-down': 'xs'
);


/*
|-------------------------------
| Font weight classes creation
|-------------------------------
| How to use: add lines to create more "font weight classes"
| - Generated classes: .font-{weight}
| - Exemple: .font-regular
|
*/

/*
|
| Font-weights
|---------------
|
*/

$font-weights : (
  '100' : 100,
  '200' : 200,
  '300' : 300,
  '400' : 400,
  '500' : 500,
  '600' : 600,
  '700' : 700,
  '800' : 800,
  '900' : 900
);


/*
|
| Text Align Map
|--------------------------
|
*/
$align-types: (
  'r': right,
  'l': left,
  'c': center,
  'j': justify
);


/*
|-------------------------------
| Line-height classes creation
|-------------------------------
| How to use: add lines to create more "line-height classes"
| - Generated classes: .lh-{weight}
| - Exemple: .lh-sm
|
*/
$line-heights: (
  'xs':   $line-height-xs,
  'sm':   $line-height-sm,
  'md':   $line-height-md,
  'lg':   $line-height-lg,
  'xl':   $line-height-xl,
  'xxl':  $line-height-xxl
);


/*
|
| Letter Spacing Map
|--------------------------
|
*/
$letter-spacings: (
  'xs':   $letter-spacing-xs,
  'sm':   $letter-spacing-sm,
  'md':   $letter-spacing-md,
  'lg':   $letter-spacing-lg,
  'xl':   $letter-spacing-xl,
  'xxl':  $letter-spacing-xxl
);


/*
|
| Display Map
|--------------------------
|
*/
$displays: (
  'none': none,
  'i':  inline,
  'b':  block,
  'ib': inline-block,
  'f':  flex,
  'if': inline-flex
);
