/*
|--------------------------
|      DEFAULT & RESET
|--------------------------
*/
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  background-color: var(--c-background-color);
}

html.--hidden,
html.--hidden body {
    overflow: hidden;
    position: relative;
}

*{
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
    font-family: $font-family-default;
    color: var(--c-text);
    font-size: var(--fs-3);
    line-height: $default-line-height;
    font-weight: $default-font-weight;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden;
    background: var(--c-background-color);

    // &.--loading {
    //   opacity: 0;
    // }

    &.page-template-customers {
      background: var(--c-white);
    }

    .grecaptcha-badge {
      display: none;
    }
}

h1, h2, h3, h4, h5, h6{
    @each $property, $value in $default-titles{
        #{$property}: $value;
    }
}

button, input, textarea{
  &:focus{
    outline: none !important;
    box-shadow: none !important;
  }
}

button{
    -webkit-appearance: none;
    padding: 0;
    background-color: transparent;
    border: none;
}

img{
  max-width: inherit;
}

a, img, button{
    display: inline-block;
}

a{
    // color:$default-link-color;
    text-decoration: none;

    // &:hover{
    //     // color: $default-link-color;
    // }
}

ul{
    margin: 0;
    padding: 0;

    li{
        list-style-type: none;
    }
}